<div class="container">
  <p class="fs-3 mt-3 md-3 text-center fw-bold">CONTACTS</p>
  <div class="text-center styling">
    <i class="bi bi-star-fill"></i>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3 mt-5">
      <form [formGroup]="FormData" (ngSubmit)="sendMessage(FormData.value)">
        <app-text-input
          formControlName="fullName"
          [label]="'Full Name'"
        ></app-text-input>
        <app-text-input
          formControlName="email"
          [label]="'Email Address'"
          [type]="'email'"
        ></app-text-input>
        <div class="form-group">
          <label for="fullname">Company Name</label>
          <input
            type="text"
            class="form-control"
            name="Company"
            placeholder="Company Name"
            formControlName="company"
          />
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <textarea
            class="form-control"
            formControlName="message"
            name="message"
          >
          </textarea>
          <span
            class="text-danger"
            *ngIf="
              FormData.get('message').invalid &&
              FormData.get('message').touched &&
              FormData.get('message').errors['required']
            "
          >
            Message is required.
          </span>
        </div>
        <button
          type="submit"
          [disabled]="!FormData.valid"
          mat-raised-button
          color="accent"
        >
          Send
        </button>
      </form>
    </div>
  </div>
</div>
