.styling::before,
.styling::after {
  display: inline-block;
  content: "";
  border-top: .3rem solid rgb(0, 0, 0);
  width: 6rem;
  margin: 0 0.3rem;
  transform: translateY(-0rem);
}

.bio {
  box-sizing: border-box;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

  padding-bottom: 10px;
}

.projects {
  box-sizing: border-box;
  background: #18bc9c;
}

.star::before,
.star::after {
  display: inline-block;
  content: "";
  border-top: .3rem solid white;
  width: 6rem;
  margin: 0 0.3rem;
  transform: translateY(-0rem);
}

.bubble {
  position: absolute;
  z-index: -2;
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

@media only screen and(max-width: 768px) {
  .list-icon {
    display: flex;
  }

  .name-full {
    font-size: medium;
  }
}
